MetaStoreService/src/main/resources/xsd/chem.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Generated by STIXGen developed at KIT -->
<!-- Created at  Fri Jan 20 13:32:17 CET 2017  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://datamanager.kit.edu/masi/chem/1.0" targetNamespace="http://datamanager.kit.edu/masi/chem/1.0" attributeFormDefault="unqualified" elementFormDefault="qualified">
<xs:element name="metadata" type="rootType"/>
  <xs:complexType name="rootType">
    <xs:sequence>
      <xs:element name="creator" type="xs:string"/>
      <xs:element name="device" type="xs:string"/>
      <xs:element name="experiment" type="xs:string"/>
      <xs:element name="ligand" type="xs:string"/>
      <xs:element name="miscellaneous" type="xs:string"/>
      <xs:element name="salt" type="xs:string"/>
      <xs:element name="solvent" type="xs:string"/>
      <xs:element name="temperature" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
