MetaStoreService/src/main/resources/xsd/tika_1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by Volker Hartmann / KIT -->
<!-- Created at  Mon Jun 19 13:32:17 CET 2017  -->
<!-- Unfortunately there is no fixed schema for the output
of TIKA so the validation has to be skipped for this part. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns="http://datamanager.kit.edu/masi/tika/1.0/"
targetNamespace="http://datamanager.kit.edu/masi/tika/1.0/" attributeFormDefault="unqualified" elementFormDefault="qualified">
<xs:element name="metadata" type="tikaType"/>
  <xs:complexType name="tikaType">
    <xs:sequence>
      <!-- There should be at least one file containing metadata. -->
      <xs:element name="file" type="fileType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fileType">
    <xs:sequence>
      <!-- There should be at least one file containing metadata. -->
      <xs:any processContents="skip" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
